<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех пользователей</title>
</head>
<body>

<div>

    <table border="1">
        <caption>
            <h1>Список пользователей</h1>
        </caption>
        <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>

            <th>Действия</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:utext="${user.getId()}">VALUE</td>
            <td th:utext="${user.getName()}">VALUE</td>
            <td th:utext="${user.getLastname()}">VALUE</td>
            <td th:utext="${user.getAge()}">VALUE</td>
            <td th:utext="${user.getEmail()}">VALUE</td>
            <td th:utext="${user.getPassword()}">VALUE</td>
            <td>
                <div th:each="role:${user.getRoles()}">[[${role.getName()}]]</div>
            </td>

            <td>
                <a th:href="@{/admin/editUser/{id}(id=${user.getId()})}">
                    <input type="submit" value="Изменить пользователя"/>
                </a>
                <br>
                <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удвлить пользователя"/>
                </form>
            </td>
        </tr>
    </table>
    <br>

    <h4><a href="/admin/newUserAdmin">Добавить пользователя</a></h4>


    <hr/>
    <a href="/user">Личная страница</a>

    <br/>
    <hr/>
    <form method="post" name="logout" th:action="@{/logout}">
        <input type="submit" value="Выход">
    </form>
</div>

</body>
</html>