<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<div align="left">
    <h3>Изменение данных</h3>
    <form th:method="patch" th:action="@{/admin/{id}(id=${editUser.getId()})}" th:object="${editUser}">
        <label for="name">Имя: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br>
        <label for="lastname">Фамилия: </label>
        <input type="text" th:field="*{lastname}" id="lastname"/>
        <br>
        <label for="age">Возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br>
        <label for="email">Адрес электронной почты: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br>
        <label for="password">Пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>

        <p>
            <label>Роль:
                <input type="checkbox" name="roleList"
                       th:each="role : ${roleList}"
                       th:text="${role.getNoPrefix()}"
                       th:value="${role.id}"
                       th:field="*{roles}"/>
            </label>
        </p>
        <br>
        <input type="submit" value="Редактировать пользователя"/>
    </form>
</div>
</body>
</html>